services:
  api:
    container_name: rss-feed
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_SOURCE: postgres://postgres:postgres@db:5432/rss_feed?sslmode=disable
      DB_DRIVER: postgres
    ports:
      - "8080:8080" 
    build:
      context: .
      dockerfile: Dockerfile
      
  db:
    container_name: db
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rss_feed
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d rss_feed"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    
volumes:
  postgres-data:
      